/.dockerignore
/venv
/data
Backend/geoweb/__pycache__
__pycache__/
*.pyc
Backend/geoweb/__pycache__/__init__.cpython-311.pyc
Backend/geoweb/__pycache__/settings.cpython-311.pyc
Backend/geoweb/__pycache__/urls.cpython-311.pyc
Backend/geoweb/__pycache__/wsgi.cpython-311.pyc
Backend/swissgeo/__pycache__/__init__.cpython-311.pyc
Backend/swissgeo/__pycache__/admin.cpython-311.pyc
Backend/swissgeo/__pycache__/apps.cpython-311.pyc
Backend/swissgeo/__pycache__/models.cpython-311.pyc
Backend/swissgeo/__pycache__/serializers.cpython-311.pyc
Backend/swissgeo/__pycache__/views.cpython-311.pyc
Backend/swissgeo/migrations/__pycache__/__init__.cpython-311.pyc
Backend/geoweb/__pycache__/__init__.cpython-311.pyc
Backend/geoweb/__pycache__/__init__.cpython-311.pyc
Backend/geoweb/__pycache__/settings.cpython-311.pyc
Backend/geoweb/__pycache__/urls.cpython-311.pyc
Backend/geoweb/__pycache__/wsgi.cpython-311.pyc
Backend/swissgeo/__pycache__/__init__.cpython-311.pyc
Backend/swissgeo/__pycache__/admin.cpython-311.pyc
Backend/swissgeo/__pycache__/apps.cpython-311.pyc
Backend/swissgeo/__pycache__/models.cpython-311.pyc
Backend/swissgeo/__pycache__/serializers.cpython-311.pyc
Backend/swissgeo/__pycache__/views.cpython-311.pyc
Backend/swissgeo/migrations/__pycache__/__init__.cpython-311.pyc
Backend/swissgeo/__pycache__
